@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$KidFont: 'Indie Flower', cursive;

$Krubfont: 'Krub', sans-serif;

$grey-1:  rgb(43, 41, 41);

$color-primary: #651313;
$color-primary2: #990501;
$color-primary3: #8A0101;
$color-primary-light: #931313;

$color-black: #0D0C0C;

$color-white: #FEFEFE;
