@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


$Krubfont:'Krub', sans-serif ;

$grey-1:  rgb(43, 41, 41);



$color-primary-maybe-lighter: #931313;
$color-primary: #931313;

$color-black: #0D0C0C;

$color-white: #FEFEFE;


