.instagram {
  &__pageContainer {
    background-color: $grey-1;
    height: fit-content;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__section--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    color: white;
    font-size: 5rem;
    margin: 3rem 8rem;
    font-family: $Krubfont;
    font-weight: 600;
    text-align: center;

  }
  &__instaPost {
    
    &--container {
      background-color: $color-white;
      height: 58rem;
      padding: 3rem 2rem 2rem 2rem;
      min-height: fit-content;
      width: 45rem;
      border-radius: 20px;
      margin: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow: scroll;
      // filter: drop-shadow(0 3px 10px -10px $color-black);
    }
    &--image {
      width: 36rem;
      height: 38rem;
      margin: 2rem 0rem;
      border-radius: 20px;
    }

    &--caption {
      color: $color-black;
      font-size: 2rem;
      line-break: strict;
      text-align: center;
      padding: 0rem 1rem;
    }
  }
}