.findUs {
  &__container {
    height: 85vh;
    background-color: $grey-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  &__instaScroll {
    height: 50rem;
    margin-top: 3rem;
    background-color: orangered;
    overflow-y: scroll;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--image {
      margin-top: 40rem;
      height: 40rem;
    }
  }
}