.footer {
  width: 100vw;
  height: 40rem;

  background-color: $color-primary;
  position: relative;
  // display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  &__logo {
    width: 58rem;
    height: 18rem;
    margin: 0rem -2rem;
    position: absolute;
    top: 0;
    left: 5%;
  }
  &__text {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    font-family: $Krubfont;
    opacity: .8;
    margin-bottom: 3rem;
    position: absolute;
    bottom: 10%;
    right: 17%;
  }
  &__subscribe {
    &--container {
      padding: 2rem 5rem;
      width: 33%;
      background-color: rgba($color: $color-black, $alpha: .5);

      position: absolute;
      bottom: 7%;
      left: 11%;
    }
    &--header {
      color: $color-white;
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }


  &__form{

      &--input {
        padding: .7rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        width: 100%;
      }
      &--submit {
        text-transform: uppercase;
        padding: 0.7rem;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: 600;
        border: none;
        cursor: pointer;
        color: $color-primary;
        transition: all .3s;
      }
  }
  &__icon{
    &--instagram {
      color: $color-white;
      z-index: 2;
      opacity: .7;
      position: absolute;
      top: 10%;
      right: 33%;
    }
    &--facebook {
      color: $color-white;
      z-index: 2;
      opacity: .7;
      position: absolute;
      top: 10%;
      right: 18%;
    }
  }
}