.footerNew {
  background-color: $color-primary-maybe-lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__centerLogo {
    margin:0 6rem;
    width: 15rem;
  }

  &__icon--facebook{
    color: $color-white;
  }
  &__icon--instagram{
    color: $color-white;
  }
  &__subscribeBtn {
    position: absolute;
    left: 8%;
    top: 30%;
    color: $color-white;
    background-color: $color-black;
    padding: 2rem 3rem;
    font-family: $Krubfont;
    font-size: 2rem;
    border-radius: 20px;
    border: none;
    // filter: drop-shadow(1px 1px 5px $color-white);
  }
  &__formContainer {
    background-color: $color-primary;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid $color-black;
  }
  &__form {
    display: flex;
    align-items: center;
  }
  &__formGroup {
    padding: 1rem;
  }
  &__formInput {
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }
  &__formSubmit {
    color: $color-white;
    background-color: $color-black;
    padding: 1rem 2rem;
    font-family: $Krubfont;
    font-size: 1.5rem;
    border-radius: 20px;
    border: none;
    // filter: drop-shadow(1px 1px 5px $color-white);
  }
  &__formHeader {
    font-size: 2rem;
    color: $color-white;
  }
  &__formContainer--hidden {
    display: none;
  }
}