.nav{
  background-color: black;
    &__navbar{
      background-color: black;
      display: flex;
      align-items: center;
      margin-left: auto;
        &--brand{
            height: 15rem;
            width: 15rem;
        }
        &--link{
            font-size: 3rem;
            color:white;
            margin: 0 5rem 0 3rem;

            &:hover{
              color:var(--color-primary);
            }
        }
    }
}