
.nav{
  background-color: black;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  font-family: $KidFont;
  justify-content: center;
  box-shadow: 0px 3px 10px var(--color-primary);

    &__navbar{
      height: 16vh;
      min-height: 14rem;
      background-color: transparent;
      display: flex;
      align-items: center;
      margin-left: auto;
        &--brand{
            height: 13rem;
            width: 20rem;
            top: 0;
        }
        &--link{
          font-size: 2.7rem;
          color:white;
          margin: 0 5rem 0 3rem;
          transition: all .3s;
          &:hover{
            color:var(--color-primary);
          }
          @include respond(tab-port){
            margin: 3rem;
            font-size: 3rem;
            &:hover{
              color: $black;
              transform: scale(1.5);
            }
          }
        }
    }
    &__menu--true-hidden{
      z-index: 1;
      display: none;
    }
    &__menu--false-displayed{
      z-index: 1;
      // margin-right: 8rem;
      padding: 2rem;
      border-radius: 10px;
      animation-name: moveInLeft;
      background-color: rgba($color: #000000, $alpha: 0.4);
      animation-duration: .5s;
      animation-timing-function: ease-out;
      @include respond(tab-land){
        // margin-right: 4rem;
      }
      @include respond(tab-port){
        background-color: $color-primary;
        position: absolute;
        right: -4rem;
        top: 106%;
        display: flex;
        flex-direction: column;
        width: 35vw;
        height: 61vh;
        justify-content: center;
        text-align: center;
      }
    }
    &__menuButton{
      display: none;
      margin: 0 3rem;
      transform: rotate(90deg);
      background-color: transparent;
      width: 6rem;
      height: 6rem;
      color: var(--color-primary);
      font-weight: bold;
      font-size: 3rem;
      border-radius: 8px;
      font-weight: 400;
      text-shadow: 1px 1px #000000 ; 
      transition: all 1s;
      border-color: var(--color-primary);

      &:hover{
        transform: scale(1.1);
        font-weight: 700;
        box-shadow: 0px 0px 15px var(--color-primary);
      }
    }
}