.aboutPage {

  &__contain{
    background-color: rgb(43, 41, 41);
    height: 85vh;
    width: 100vw;
    background-color: rgb(43, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__container--image {
    margin: -10rem 4rem 0rem 4rem;
  }
  &__container--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -10rem 4rem 0 4rem;
  }

  &__image {
    width: 55rem;
    height: 40rem;
    border-radius: 20px;
  }
  &__textBubble--heading{
    border: 3px solid white;
    background-color: var(--color-primary);
    text-align: end;
    display: flex;
    height: fit-content;
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 7rem;
    color: white;
    text-align: center;
    font-family: $KidFont;
  }
  &__textBubble--text{
    border: 3px solid white;
    background-color: var(--color-primary);
    text-align: end;
    display: flex;
    height: fit-content;
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 3rem;
    color: white;
    text-align: center;
    font-family: $KidFont;
  }
}