.aboutPage {
  background-color: rgb(43, 41, 41);
  height: 100vh;
  width: 100vw;
  &__heading{
    font-size: 4rem;
    color: white;
    text-align: center;
  }
  &__contain{
    background-color: rgb(43, 41, 41);
    display: flex;

  }
  &__container--1 {
    margin: 4rem 4rem;
  }
  &__container--2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 3rem 4rem 4rem;
  }

  &__image {
    width: 65rem;
    height: 50rem;
    border-radius: 20px;
  }
  &__textBubble{
    border: 3px solid white;
    background-color: var(--color-primary);
    text-align: end;
    display: flex;
    height: fit-content;
    flex: 30%;
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 4rem;
    color: white;
    text-align: center;
    font-family: $Krubfont;

    &--heading{
      flex: 30%;
    }
  }
}