.hero{
    width: 58%;
    margin: 2rem 2rem 0 0;
    position: absolute;
    background-color: rgb(43, 41, 41);
    right: 0;
    top: 5%;
    z-index: 1;
    overflow: hidden;
    transition: all 2s;
    @include respond(tab-port){
      right: calc(50% - 30%);
      top: 20%;
    }
    @include respond(phone){
        width: 75%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__image {
      width: 100%;
    }
    &__slide{
      opacity: 0;
      transition-duration: 3s ease ;
      animation-duration: 3s;
    }
    &__slide--active{
      opacity: 1;
      transition: transform opacity;
      transition-duration: 3s;
    }
}
// {"access_token": "IGQVJYaldzTDlVUjhfbzJTT1l1RDB3M1pCbXhLM0xlUzNJSXRxT09UMVRrc0tNY0VaUGhBbVZAfRm16MnB5ZAi14LU9ubUg3UDdfaWtXYkVqZA05CRjc0cXk3Y3NwSEk0ZA25uZAUs0RUhwTUdXYVFNVmlJMUgtR0IxQVhUR3dR", 
//   "user_id": 17841402917632023}%

//   curl -X GET \
//   'https://graph.instagram.com/17841402917632023?fields=id,username&access_token=IGQVJYaldzTDlVUjhfbzJTT1l1RDB3M1pCbXhLM0xlUzNJSXRxT09UMVRrc0tNY0VaUGhBbVZAfRm16MnB5ZAi14LU9ubUg3UDdfaWtXYkVqZA05CRjc0cXk3Y3NwSEk0ZA25uZAUs0RUhwTUdXYVFNVmlJMUgtR0IxQVhUR3dR'
//   {"id":"17841402917632023","username":"hawleyfit"}%
//   'https://graph.instagram.com/17841402917632023/media?fields=id,username,media_url,caption&access_token=IGQVJYaldzTDlVUjhfbzJTT1l1RDB3M1pCbXhLM0xlUzNJSXRxT09UMVRrc0tNY0VaUGhBbVZAfRm16MnB5ZAi14LU9ubUg3UDdfaWtXYkVqZA05CRjc0cXk3Y3NwSEk0ZA25uZAUs0RUhwTUdXYVFNVmlJMUgtR0IxQVhUR3dR