.hero{
    height: 75vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.hero__image{
    width: 100%;
    object-fit: cover;
}

.hero__slide{
    opacity: 0.5;
    transition-duration: 1s ease ;
    transform: translateX(-100%)
}

.hero__slide--active{
    opacity: 1;
    transition: transform opacity;
    transform: translateX(0);
    transition-duration: 1.5s;
}