.landing{
  overflow: hidden;
  &__nameLogo{
    width: 58%;
    position: absolute;
    top: 3%;
    left: -3%;
    z-index: 2;
    transform: rotate(-3deg);
    filter: drop-shadow( 0px 2px 10px black);
    @include respond(tab-port){
      left: 21%;
      top: 2%;
    }
    @include respond(phone){
        width: 100%;
        left: 0;
        top: 6%;
    }
  }
  
  &__jumbotron{
      height: 85vh;
      background-position: center;
      background-color: $grey-1;
      position: relative;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-heading1{
          font-size: 6rem;
          font-family:  $Krubfont;
          font-weight: 700;
          margin-bottom: 2rem;
          text-shadow: 5px 5px #000000 ;
          // text-align: center;
          padding-bottom: 3rem;
      }
      &-heading2{
          font-size: 2.5rem;
          text-shadow: 2px 2px #000000 ;
          // text-align: center;
          font-family:  $Krubfont;
          // font-weight: 700;
          
      }
  }
  &__container{
      color: white;
      position: absolute;
      z-index: 2;
      top: 60%;
      left: 22%;
      transform: translate(-50%, -50%) rotate(0deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 31%;
      padding: 6rem 4rem;
      border-radius: 2px;
      background-color: rgba($color: #000000, $alpha: 1);
      @include respond(tab-port){
        width: 60%;
        top: 77%;
        left: 48.5%;
        padding: 1rem 4rem;
        margin-top: 4.5rem;
        transform: translate(-50%, -50%) rotate(2deg);
      }
  }
}