.landing{

  &__nameLogo{
    width: 58%;
    z-index: 2;
    transform: rotate(-5deg) translateX(-45%) translateY(-10%);
    filter: drop-shadow( 0px 2px 10px black);
    @include respond(tab-port){
    }
    @include respond(phone){
    }
  }
  &__jumbotron{
      height: 100vh;

      background-color: $grey-1;
      position: relative;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-heading1{
          font-size: 6rem;
          font-family:  $Krubfont;
          font-weight: 700;
          margin-bottom: 2rem;
          text-shadow: 5px 5px #000000 ;
          padding-bottom: 3rem;
      }
      &-heading2{
          font-size: 2.5rem;
          text-shadow: 2px 2px #000000 ;
          font-family:  $Krubfont;
          
      }
  }
  &__container{
      color: white;
      z-index: 2;
      position: absolute;
      bottom: 10%;
      width: fit-content;
      padding: 6rem 4rem;
      background-color: rgba($color: $color-black, $alpha: .3);
      @include respond(tab-port){
      }
  }
}