.social{
  &__container {
    // position: fixed;
    left: 0%;
    top: 50%;
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 3;

    a {
      margin-bottom: 3rem;
    }
    @include respond(tab-land){
      left: 50%;
      top: 75%;
      flex-direction: row;
      width: 30rem;
    }
    @include respond(tab-port){
      left: 0%;
      top: 50%;
      flex-direction: column;
      width: fit-content;
      margin-left: 1rem;
    }
    @include respond(tiny-phone){
      left: 0%;
      top: 65%;
      flex-direction: column;
    }
  }
  &__icon{
    &--logo{

      color: $color-white;
      width: 7rem;
      z-index: 2;
      @include respond(tab-port){
        transform: translateY(0);
        transform: translateX(3px);
      }
    }
    &--facebook{
      color: white;
      z-index: 2;
      opacity: .7;
      @include respond(tab-port){
        
      }
    }
    &--instagram{
      color: $color-white;
      z-index: 2;
      opacity: .7;

      @include respond(tab-port){

      }
    }
  }
}