.button{

  &__donate{
    background-color: transparent;
    width: 14rem;
    height: 6rem;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 2rem;
    border-radius: 8px;
    font-weight: 400;
    margin: 0 5rem 0 3rem;
    text-shadow: 1px 1px #000000 ;

    &:hover{
      transform: scale(1.1);
      font-weight: 700;
      color: white;
    }
  }
}